# Compiler files
cache/
out/

# Ignores development broadcast logs
*/broadcast
/broadcast/*/100/
/broadcast/*/11155111/
/broadcast/*/31337/
/broadcast/*/5/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

init.json